.movie-container {
  border-radius: 25px;
  margin: 25px;
  margin-top: 25px;
  width: 450px;
  height: 520px;
  padding: 20px 5px 20px 5px;
  display: inline-grid;
  align-items: center;
  justify-self: center;
  background-color: #373b69;
}

.movie-title {
  font-size: 25px;
  font-style: italic;
  padding: 15px 45px;
  font-weight: 700;
  color: white;
  text-shadow: 0 3px 2px rgba(0,0,0,0.3);
}

.movie-details{
  position: relative;
  overflow: hidden;

}

.movie-image {
  width: 25%;
  height: auto;
  margin: auto;
  float: right;
  position: absolute;
  left: 3%;
  top: 20%
}

.movie-release-date {
  font-size: 15px;
  /* font-style: italic; */
  padding: 15px 45px;
  font-weight: 700;
  color: white;

}

.title-in-library{
  color: white;
  font-style: italic;
}

.searchbox{
  min-width: 5rem;
  width: 80%;
  padding: .5rem;
  text-align: center;
  margin: 30px;

  border: none;
  outline: none;
  background: none;

  background-color: #EEE;
  border-radius: 60px;

  color: #53565A;
  font-size: 20px;
  font-weight: 300;

  transition: 0.4s ease-out; 
}

.overview {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  transform: translatey(100%);
  transition: transform 0.2s ease-in-out;
  text-align: center;
}

.movie-details:hover .overview {
  transform: translatey(0);
}

.searchbox:focus {
  box-shadow: 0px 0px 8px 3px #0EA4C1;
}

.container {
  display:inline-table;
}