.App {
  text-align: center;
}

.navbar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(73, 79, 82);
  color: white;
}

.nav-link{
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.link{
  color: white;
  text-decoration: none;
}

.link:hover{
  color: blueviolet;
}
