.App {
  text-align: center;
  /* background-color: #22254b; */
}

.navbar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(73, 79, 82);
  color: white;
}

.nav-link{
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.link{
  color: white;
  text-decoration: none;
}

.link:hover{
  color: white;
}

.welcome:hover {
  color: lightsalmon;
}

.Home:hover {
  color: #EC7063;
  font-weight: bolder;
}

.Customer:hover {
  color: yellow;
  font-weight: bolder;
}

.VideoLibrary:hover {
  color: #D35400;
  font-weight: bolder;
}

.Search:hover {
  color: #D4AC0D;
  font-weight: bolder;
}

.router__div--selected-item {
  background-color: rgb(165, 127, 255);
  font-size: smaller;
}

.router__button--check-out {
  /* color:cadetblue; */
  background-color: rgb(77, 253, 253);
}
